APP_NAME = git.varauat.com
RUN_USER = git
RUN_MODE = prod

[server]
PROTOCOL = http
DOMAIN = git.varauat.com
ROOT_URL = http://git.varauat.com/
HTTP_ADDR = 127.0.0.1
HTTP_PORT = 8000
DISABLE_SSH = false
SSH_LISTEN_HOST = 127.0.0.1
SSH_LISTEN_PORT = 22
SSH_ROOT_PATH = /home/git/.ssh
SSH_PORT = 22
START_SSH_SERVER = false
OFFLINE_MODE = false